*/documents/*
documents/*
storage
my_document_index.json
apikey.txt
filename.txt
output.txt
credentials.txt
.env
search_history.db
__pycache__
.DS_store
monitor_logs.db
doc_retrieval_env
log.db
llamaindex_storage
llamaindex_storage_2
llamaindex_storage_3
llamaindex_bge_small
llamaindex_labse
