/* PAGE STYLING */

body {
    display: flex;
    font-family: Arial, sans-serif;
}
.column {
    flex: 1;
    padding: 20px;
}
.left-column {
    border-right: 1px solid #ddd;
}
.right-column {
    overflow: auto;
}

/* LIST */

.item-list{
    list-style-type: none;
    padding: 0;
}
.list-item{
    margin-bottom: 20px;
}

/* SEARCH */

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.search-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
.search-button:hover {
    background-color: #066edd;
    color: white;
}

/* DOCUMENTS */

.card {
    display: none;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.document-item{
    margin: 5px 0 10px 0;
}

.folder {
    margin: 10px 0;
}

.folder-title:hover {
    background-color: #f0f0f0;
}

.folder-title {
    cursor: pointer;
    font-weight: bold;
}

.folder-contents {
    display: none;
    margin-left: 20px;
}

/* HISTORY */

.history-item {
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
}

.history-item:hover {
    background-color: #f0f0f0;
}

.history-item.selected {
    background-color: #d0d0ff;
    font-weight: bold;
}

/* RESULTS */

.result-item {
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
}

.result-item:hover {
    background-color: #f0f0f0;
}