<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Documents</title>
    <style>

    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>

<body>
    <div class="column">
        <a href="{{ url_for('home') }}">Back to Index</a>
        <h1>{{ documents|length }} documents in OpenSearch</h1>
        <ul class="item-list">
            {% for doc in documents %}
            <li class="document-item">
                <a href="#" onclick="toggleCard('card-{{ loop.index }}')">{{ doc.title }}</a>
                <div id="card-{{ loop.index }}" class="card">
                    <strong>Title:</strong> {{ doc.title }}<br>
                    <strong>File Path:</strong> {{ doc.file_path }}<br>
                    <strong>Content:</strong> {{ doc.content }}<br>
                    <br>
                    <a href="javascript:void(0);" onclick="openFile('{{ doc.title }}')">Open File</a> |
                    <a href="javascript:void(0);" onclick="downloadFile('{{ doc.title }}')">Download File</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

</body>

</html>