<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Documents</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>

<body>
    <div class="column">
        <a href="{{ url_for('home') }}">Back to Index</a>
        <h1>{{ total_documents }} documents in OpenSearch</h1>
        <ul class="item-list">
            {% for folder in folders %}
            <li class="folder">
                <div class="folder-title" onclick="toggleFolder('folder-{{ loop.index }}')">
                    📁 {{ folder.folder }} ({{ folder.count }} documents)
                </div>
                <ul id="folder-{{ loop.index }}" class="folder-contents">
                    {% for doc in folder.documents %}
                    <li class="document-item">
                        <a href="#" onclick="toggleCard('card-{{ doc.unique_id }}')">{{ doc.title }}</a>
                        <div id="card-{{ doc.unique_id }}" class="card">
                            <strong>Title:</strong> {{ doc.title }}<br><br>
                            <strong>File Path:</strong> {{ doc.file_path }}<br><br>
                            <strong>Snippet:</strong> {{ doc.content }}<br><br>
                            <a href="javascript:void(0);" onclick="openFile('{{ doc.file_path | escape_single_quotes }}')">Open File</a> |
                            <a href="javascript:void(0);" onclick="downloadFile('{{ doc.file_path | escape_single_quotes }}')">Download File</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>

    </div>

</body>

</html>