<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>

<body>
    <div class="column left-column">
        <a href="{{ url_for('show_documents') }}">View Documents</a>
        <h1>Search Documents</h1>
        <form method="POST" action="/search">
            <input type="text" name="query" placeholder="Enter your search query" required>
            <button type="submit">Search</button>
        </form>

        <h2>Search History</h2>
        <ul id="search-history">
            {% if history %}
            {% for id, past_query, result, timestamp in history %}
            <li class="history-item" data-query="{{ past_query }}" onclick="selectHistoryItem('{{ id }}')">
                <strong>Query:</strong> {{ past_query }} <br>
                <strong>Results:</strong> {{ result }} <br>
                <strong>Time:</strong> {{ timestamp }}
            </li>
            {% endfor %}
            {% else %}
            <li>No history available</li>
            {% endif %}
        </ul>
    </div>

    <div class="column right-column">
        {% if query %}
        <h2>Results for "{{ query }}":</h2>
        <ul>
            {% for result in results %}
            <li>
                <h3>{{ result.title }}</h3>
                <p>Path: {{ result.file_path }}</p>
                <p>Similarity score: {{ result.score }}</p>
                <p>Snippet: {{ result.content }}</p>
                <a href="javascript:void(0);" onclick="openFile('{{ result.title }}')">Open File</a> |
                <a href="javascript:void(0);" onclick="downloadFile('{{ result.title }}')">Download File</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>

</html>